{% if section.settings.select_fts == "footer_v1" %}
{% if template contains 'index' %}
<footer class="footer_v1" style="background : {{section.settings.ft_home_bg_footer}};" role="contentinfo" aria-label="Site footer">
  <div class="container container-v5">
    <div class="top-footer">    
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-6">
          <div class="info_footer end">
            <div class="title_footer">          
              <h4 class="title_border">{{settings.titlecolum_fv1_4}}</h4>         
            </div>
            {% if settings.content_colum_fv1_4 != blank  %}
            <p class="mb-0 content_footer">{{settings.content_colum_fv1_4}}</p>
            {% endif %}

            <div class="nexio-socials">
              <div class="socials-inner">
                {% if settings.icon_sc_fv1_1 !=blank %}
                  <a href="{{settings.url_sc_fv1_1}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_1}}"></i></a>
                {% endif %}
                {% if settings.icon_sc_fv1_2 !=blank %}
                  <a href="{{settings.url_sc_fv1_2}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_2}}"></i></a>
                {% endif %}
                {% if settings.icon_sc_fv1_3 !=blank %}
                  <a href="{{settings.url_sc_fv1_3}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_3}}"></i></a>
                {% endif %}
                {% if settings.icon_sc_fv1_4 !=blank %}
                  <a href="{{settings.url_sc_fv1_4}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_4}}"></i></a>
                {% endif %} 
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="title_border">{{settings.titlecolum_fv1_1}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv1_1].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="title_border">{{settings.titlecolum_fv1_2}}</h4>         
            </div>
            {% if settings.content_colum_fv1_2 != blank %}
            {{settings.content_colum_fv1_2}}
            {% else %}            
            <ul class="list-unstyled mb-0">
			  <li><a title="GODSPEED SAGL">GODSPEED SAGL</a></li>
			  <li><a title="Via Pian Scairolo 8">Via Pian Scairolo 8</a></li>
			  <li><a title=6915 Pambio-Noranco">6915 Pambio-Noranco</a></li>
              <li><a title="info@godspeed.ch" href="mailto:info@godspeed.ch">info@godspeed.ch</a></li>
              <li><a title="Store: +41 91 224 53 43" href="#">Store: +41 91 224 53 43</a></li>
              <li><a title="Workshop: +41 91 224 53 44" href="#">Workshop: +41 91 224 53 44</a></li>
            </ul>
            {% endif %}       
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="title_border">{{settings.titlecolum_fv1_3}}</h4>         
            </div>
            {% if settings.content_colum_fv1_3 != blank  %}
            <div class="newsletter-description">{{settings.content_colum_fv1_3}}</div>
            {% endif %}
            
            {% if settings.newsletter_form_action != blank %}
            {% assign form_action = settings.newsletter_form_action %}
            {% else %}
            {% assign form_action = '#' %}
            {% endif %}     
            
            <form class="newsletter-form-wrap" action="{{form_action}}" method="post">
              <input type="email" name="EMAIL" class=" text-input" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">                 
              <button class="btn-submit submit-newsletter" type="submit">
                {% if settings.enable_rtl_mode %}
                {% include 'icon_back_svg' %}
                {% else %}
                {% include 'icon_next_svg' %}
                {% endif %}
              </button>
            </form> 
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if settings.enable_fv1_bottom %}
  <div class="copyright">
    <div class="container container-v1">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6  {% if settings.enable_rtl_mode %}text-md-right{% else %}text-md-left{% endif %} text-center">
          {% if settings.fv1_bottom_copyright != blank %}
          <p class="text-copyright mb-0">{{settings.fv1_bottom_copyright}}</p>
          {% else %}
          <div class="text-copyright mb-0"><p class="mb-0">© Copyright 2025 | GODSPEED SAGL</p>
          </div> 
          {% endif %}
        </div>
        <div class="col-lg-6 col-md-6 {% if settings.enable_rtl_mode %}text-md-left{% else %}text-md-right{% endif %} text-center">
          {% if settings.fv1_bottom_payment_img != blank %}
          <img src="{{settings.fv1_bottom_payment_img | img_url:'master'}}"  alt="Payment methods accepted">
          {% else %}
          <img src="//via.placeholder.com/247x23"  alt="Payment methods accepted">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</footer>
<style>
  .footer_v1 .top-footer .info_footer h4{
    color : {{section.settings.ft_home_color_heading}};
  }  
  .footer_v1 .top-footer .info_footer ul li a{
    color : {{section.settings.ft_home_color_text}};
  }
  .footer_v1 .top-footer .info_footer .content_footer{
    color : {{section.settings.ft_home_color_text}};
  }
  .footer_v1 .newsletter-description{
    color : {{section.settings.ft_home_color_text}};
  }
  .footer_v1 .copyright .text-copyright{
    color : {{section.settings.ft_home_color_text}};
  }
  .footer_v1 .copyright .text-copyright a {
    color : {{section.settings.ft_home_color_text}};
  }
  .footer_v1 .top-footer .info_footer.end .list-icon ul li a{
    color : {{section.settings.ft_home_color_text}};
  }
</style>
{% endif %}
{% endif %}

{% if section.settings.select_fts_all == "footer_ver1" %}
{% unless template contains 'index' %}
<footer class="footer_v1" style="background : {{section.settings.ft_other_bg_footer}};">
  <div class="container container-v5">
    <div class="top-footer">    
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-6">
          <div class="info_footer end">
            <div class="title_footer">          
              <h4 class="title_border">{{settings.titlecolum_fv1_4}}</h4>         
            </div>
            {% if settings.content_colum_fv1_4 != blank  %}
            <p class="mb-0 content_footer">{{settings.content_colum_fv1_4}}</p>
            {% endif %}

            <div class="nexio-socials">
              <div class="socials-inner">
                {% if settings.icon_sc_fv1_1 !=blank %}
                <a href="{{settings.url_sc_fv1_1}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_1}}"></i></a>
                {% endif %}
                {% if settings.icon_sc_fv1_2 !=blank %}
                <a href="{{settings.url_sc_fv1_2}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_2}}"></i></a>
                {% endif %}
                {% if settings.icon_sc_fv1_3 !=blank %}
                <a href="{{settings.url_sc_fv1_3}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_3}}"></i></a>
                {% endif %}
                {% if settings.icon_sc_fv1_4 !=blank %}
                <a href="{{settings.url_sc_fv1_4}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_4}}"></i></a>
                {% endif %} 
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="title_border">{{settings.titlecolum_fv1_1}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv1_1].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="title_border">{{settings.titlecolum_fv1_2}}</h4>         
            </div>
            {% if settings.content_colum_fv1_2 != blank %}
            {{settings.content_colum_fv1_2}}
            {% else %}            
            <ul class="list-unstyled mb-0">
              <li><a title="info@godspeed.ch" href="mailto:info@godspeed.ch">info@godspeed.ch</a></li>
              <li><a title="Store: +41 91 224 53 43" href="tel:+41912245343">Store: +41 91 224 53 43</a></li>
              <li><a title="Workshop: +41 91 224 53 44" href="tel:+41912245344">Workshop: +41 91 224 53 44</a></li>
            </ul>
            {% endif %}       
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="title_border">{{settings.titlecolum_fv1_3}}</h4>         
            </div>
            {% if settings.content_colum_fv1_3 != blank  %}
            <div class="newsletter-description">{{settings.content_colum_fv1_3}}</div>
            {% endif %}

            {% if settings.newsletter_form_action != blank %}
            {% assign form_action = settings.newsletter_form_action %}
            {% else %}
            {% assign form_action = '#' %}
            {% endif %}     

            <form class="newsletter-form-wrap" action="{{form_action}}" method="post">
              <input type="email" name="EMAIL" class=" text-input" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">                 
              <button class="btn-submit submit-newsletter" type="submit">
                {% if settings.enable_rtl_mode %}
                {% include 'icon_back_svg' %}
                {% else %}
                {% include 'icon_next_svg' %}
                {% endif %}
              </button>
            </form> 
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if settings.enable_fv1_bottom %}
  <div class="copyright">
    <div class="container container-v1">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6  {% if settings.enable_rtl_mode %}text-md-right {% else %}text-md-left{% endif %} text-center">
          {% if settings.fv1_bottom_copyright != blank %}
          <p class="text-copyright mb-0">{{settings.fv1_bottom_copyright}}</p>
          {% else %}
          <div class="text-copyright mb-0"><p class="mb-0">© Copyright 2022 | <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover bold">  Nexio </a> By <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover link"> ThemeOcean.</a><a href="https://www.shopify.com/?ref=shopifycenter" rel="nofollow" target="_blank" class=""> Powered by Shopify.</a></p> 
          </div> 
          {% endif %}
        </div>
        <div class="col-lg-6 col-md-6 {% if settings.enable_rtl_mode %}text-md-left{% else %}text-md-right{% endif %} text-center">
          {% if settings.fv1_bottom_payment_img != blank %}
          <img src="{{settings.fv1_bottom_payment_img | img_url:'master'}}"  alt="Payment methods accepted">
          {% else %}
          <img src="//via.placeholder.com/247x23"  alt="Payment methods accepted">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</footer>
<style>
  .footer_v1 .top-footer .info_footer h4{
    color : {{section.settings.ft_other_color_heading}};
  }
  .footer_v1 .top-footer .info_footer ul li a{
    color : {{section.settings.ft_other_color_text}};
  }
  .footer_v1 .top-footer .info_footer .content_footer{
    color : {{section.settings.ft_other_color_text}};
  }
  .footer_v1 .copyright .text-copyright{
    color : {{section.settings.ft_other_color_text}};
  }
  .footer_v1 .copyright .text-copyright a  {
    color : {{section.settings.ft_other_color_text}};
  }
  .footer_v1 .top-footer .info_footer.end .list-icon ul li a{
    color : {{section.settings.ft_other_color_text}};
  }
</style>
{% endunless %}
{% endif %}
