<div data-section-id="{{ section.id }}" data-section-type="section-product-v6" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-product-v6 section-product-v6-{{ section.id }} mt-all">
    <div class="container container-v2">
      <div class="row align-items-center info-prv6 justify-content-around">
        <div class="{% if section.settings.section_layout == "banner_left" %}col-lg-6 col-md-6  order-1{% elsif section.settings.section_layout == "banner_right" %} order-2 col-md-6 col-lg-6 {% endif %}">
          <div class="box-info">
            <div class="box-img-prod">
              {% if section.settings.img_banner1 != blank %}
              <a href="{{section.settings.url_button1}}"> <img data-src="{{section.settings.img_banner1 | img_url:'master'}}" class="lazyload img-fluid w-100" alt></a>
              {% else %}
              <a href="{{section.settings.url_button1}}"> <img data-src="//via.placeholder.com/690x875" class="lazyload img-fluid w-100" alt=""></a>
              {% endif %}
            </div>
            <div class="info-bottom"> 
              {% if section.settings.button_1 != blank %}
              <a href="{{section.settings.url_button1}}" class="button-all-site" style="color :{{section.settings.color_btn}}; background: {{section.settings.bg_btn}}">
                {{section.settings.button_1}}
              </a>
              {% endif %}
            </div> 
          </div>
        </div>
        <div class="{% if section.settings.section_layout == "banner_left" %}col-lg-6 col-md-6 text-left order-2 mt-3 mt-sm-0 {% elsif section.settings.section_layout == "banner_right" %}box-textalign text-right order-1 col-md-6 col-lg-6 mb-5 mb-sm-0 {% endif %}">
          <div class="row listproduct">   
            {% assign products_limit = section.settings.products_limit %}
            {% assign col = section.settings.select_collection %}
            {% for product in collections[col].products limit: products_limit %}
            <div class="col-lg-6  col-6  product_item">
              {% include 'product-item-v1' %}
            </div>
            {% else %}
            {% for i in (1..section.settings.products_limit) %}
            <div class="col-lg-6 col-6 product_item">
              {% include 'empty-product-item' %}
            </div>
            {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .button-all-site:hover {
    color:{{section.settings.color_btn_hover}} !important;
    background: {{section.settings.bg_btn_hover}} !important;
  }
  .section-product-v6-{{ section.id }} .button-all-site:before {
    border: 1px solid {{section.settings.color_btn_hover}} !important;
  }
</style>
{% schema %}
{
  "name": "PRODUCT V6",
  "settings": [
    {
      "type": "header",
      "content": "Product 6"
    },
    {
      "type": "select",
      "id": "section_layout",
      "label": "Section Layout",
      "options": [
        {
          "value": "banner_left",
          "label": "Banner Left"
        },
        {
          "value": "banner_right",
          "label": "Banner Right"
        }
      ],
      "default": "banner_left"
    },
    {
      "type": "header",
      "content": "Banner 1"
    },
    {
      "type": "image_picker",
      "id": "img_banner1",
      "label": "Image",
      "info": "690 x 980px recommended"
    },
    {
      "type": "text",
      "id": "button_1",
      "label": "Button 1",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "url_button1",
      "label": "URL button",
      "default": "/collections/all"
    },
    {
      "type": "color",
      "id": "color_btn",
      "label": "Color button"
    },
    {
      "type": "color",
      "id": "bg_btn",
      "label": "Background button",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "color_btn_hover",
      "label": "Color button hover",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "bg_btn_hover",
      "label": "Background button hover",
      "default": "#88c000"
    },
    {
      "type": "header",
      "content": "Info Product"
    },
    {
      "type": "collection",
      "id": "select_collection",
      "label": "Select Collection"
    },
    {
      "type": "range",
      "id": "products_limit",
      "label": "Limit products",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "PRODUCT V6",
      "category": "HOME"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}