<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{% for block in section.blocks %}
{% if block.type == "slideshow" %}
  {% if block.settings.fonts_sub_1 !=blank %}
  <link href="https://fonts.googleapis.com/css2?family={{block.settings.fonts_sub_1}}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  {% endif %}
  {% if block.settings.fonts_button !=blank %}
  <link href="https://fonts.googleapis.com/css2?family={{block.settings.fonts_button}}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  {% endif %}
  {% if block.settings.fonts_title_top !=blank %}
  <link href="https://fonts.googleapis.com/css2?family={{block.settings.fonts_title_top}}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  {% endif %}
{% endif %}
{% endfor %}

<div data-section-id="{{ section.id }}" data-section-type="section-slideshow-v4" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-slideshow-v4 ">
    <div class="container container-v1 p-0">
      <div class="row no-gutters">
        <div class="col-9_slider">
          <div class="js-slide-item4 p-0">
            {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
            {% if block.type == "slide" %}
            <div class="slide-item">
              <div class="slider-image">
                {% if block.settings.img_slider != blank %}
                <a href="{{block.settings.button_url}}" class="d-block">
                  <img data-src="{{block.settings.img_slider | img_url : 'master'}}" class="lazyload img-fluid w-100" alt="_img">
                </a> 
                {% else %}
                <img data-src="//via.placeholder.com/1235x800" class="lazyload img-fluid w-100" alt="_img">
                {% endif %}
              </div>
              <div class="slider-content">
                {% if block.settings.slider_title != blank %}
                <h3 class="slider-title title-{{block.id}}">{{block.settings.slider_title}}</h3>
                {% endif %}
                {% if block.settings.slider_sub_title != blank %}
                <p class="mb-0 sub-title sub-title-{{block.id}}">{{block.settings.slider_sub_title}}</p>
                {% endif %}
                <div class="box-button">
                  {% if block.settings.slider_button != blank %}
                  <a href="{{block.settings.button_url}}" class="button-shop-{{block.id}}" style="">{{block.settings.slider_button}}</a>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="col-3_slider">
          <div class="row">
            <div class="col-12 col_12_slider">
              <div class="slider-banner slider-banner1">
                <a href="{{section.settings.url_banner1}}" class="slider-banner">
                  {% if section.settings.img_banner1 != blank %}
                  <img data-src="{{section.settings.img_banner1 | img_url : 'master'}}" class="lazyload img-fluid w-100" alt="_img">
                  {% else %}
                  <img data-src="//via.placeholder.com/400x385" class="lazyload img-fluid w-100" alt="_img">
                  {%  endif%}
                </a>
              </div>
            </div>
            <div class="col-12 col_12_slider">
              <div class="slider-banner slider-banner2">
                <a href="{{section.settings.url_banner2}}" class="slider-banner">
                  {% if section.settings.img_banner2 != blank %}
                  <img data-src="{{section.settings.img_banner2 | img_url: 'master'}}" class="lazyload img-fluid w-100" alt="_img">
                  {% else %}
                  <img data-src="//via.placeholder.com/400x385" class="lazyload img-fluid w-100">
                  {% endif %}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  {% for block in section.blocks %}
  {% if block.type == 'slide' %}
  .section-slideshow-v4 .slide-item.slick-active .slider-content .title-{{block.id}}{
    color: {{block.settings.title_color}};
    {% if block.settings.fonts_title_top != blank %}
    font-family: '{{block.settings.fonts_title_top}}';
      {% endif %}
  }
  
  .section-slideshow-v4 .slide-item.slick-active .slider-content .sub-title-{{block.id}}{
    color: {{block.settings.sub_title_color}};
    {% if block.settings.fonts_sub_1 != blank %}
    font-family: '{{block.settings.fonts_sub_1}}';
      {% endif %}
  }
  
  .section-slideshow-v4 .slide-item .slider-content .box-button .button-shop-{{block.id}} {
  	color:{{block.settings.color_button}};
    background:{{block.settings.bg_color_button}};
    {% if block.settings.fonts_button != blank %}
    font-family: '{{block.settings.fonts_button}}';
      {% endif %}
  }
  .section-slideshow-v4 .slide-item .slider-content .box-button .button-shop-{{block.id}}:hover {
    color: {{block.settings.color_button_hover}}!important;
    background: {{block.settings.bg_color_button_hover}}!important;
  }
  
  @media(min-width:1900px){
    .section-slideshow-v4 .slide-item.slick-active .slider-content .title-{{block.id}}{
      font-size:{{block.settings.font_size_title_top}}px;
    }

    .section-slideshow-v4 .slide-item.slick-active .slider-content .sub-title-{{block.id}}{
      font-size:{{block.settings.font_size_top1}}px;
    }

    .section-slideshow-v4 .slide-item .slider-content .box-button .button-shop-{{block.id}} {
      font-size:{{block.settings.font_size_button}}px;
    }
  }
  
  {% endif %}
  {% endfor %}
</style>
{% schema %}
{
  "name": "SLIDESHOW V4",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "header",
      "content": "Slider banner 1"
    },
    {
      "type": "image_picker",
      "id": "img_banner1",
      "info": "410 x 385px recommended",
      "label": "Banner1"
    },
    {
      "type": "url",
      "id": "url_banner1",
      "label": "URL Banner 1 ",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Slider banner 2"
    },
    {
      "type": "image_picker",
      "id": "img_banner2",
      "info": "410 x 385px recommended",
      "label": "Banner1"
    },
    {
      "type": "url",
      "id": "url_banner2",
      "label": "URL Banner 2 ",
      "default": "/collections/all"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "SlideShow",
      "settings": [
        {
          "type": "image_picker",
          "id": "img_slider",
          "info": "1235 x 800px recommended",
          "label": "Slide Image"
        },
        {
          "type": "header",
          "content": "Heading Slideshow"
        },
        {
          "type": "text",
          "id": "slider_title",
          "label": "Heading",
          "default": "Fresh Vegetables"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Color",
          "default": "#fff"
        },
		{
          "type": "range",
          "id": "font_size_title_top",
          "min": 50,
          "max": 120,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 65
        },
		{
          "type": "text",
          "id": "fonts_title_top",
          "label": "Fonts Family"
        },
        {
          "type": "header",
          "content": "Subheading Slideshow"
        },
        {
          "type": "text",
          "id": "slider_sub_title",
          "label": "Subheading",
          "default": "Nutrients and health benefits"
        },
        {
          "type": "color",
          "id": "sub_title_color",
          "label": "Color",
          "default": "#fff"
        },
		{
          "type": "range",
          "id": "font_size_top1",
          "min": 15,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 28
        },
		{
          "type": "text",
          "id": "fonts_sub_1",
          "label": "Fonts Family"
        },
		{
          "type": "header",
          "content": "Button Slideshow"
        },
        {
          "type": "text",
          "id": "slider_button",
          "label": "Button label",
          "default": "Shop Now"
        },
        {
          "type": "color",
          "id": "color_button",
          "label": "Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "bg_color_button",
          "label": "Background Color",
          "default": "#222"
        },
		{
          "type": "range",
          "id": "font_size_button",
          "min": 15,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 15
        },
		{
          "type": "text",
          "id": "fonts_button",
          "label": "Fonts Family"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "URL Button ",
          "default": "/collections/all"
        },
        {
          "type": "header",
          "content": "Button Hover"
        },
        {
          "type": "color",
          "id": "color_button_hover",
          "label": "Color Button Hover",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "bg_color_button_hover",
          "label": "Bg Color Button Hover",
          "default": "#82AE46"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SLIDESHOW V4",
      "category": "HOME",
      "blocks": [
        {
          "type": "slide",
          "settings": {
            
          }
        },
        {
          "type": "slide",
          "settings": {
            
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}